<html>
<head>
    <title>Website</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Bungee);
@import url(http://fonts.googleapis.com/css?family=Dosis);

img.crest {
  max-height: 75px;
  max-width: auto;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

body{
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
h1{
    font-family: 'Bungee', cursive;
    font-weight: normal;
    color: 831B1B;
    font-size: 2.5em;
}
 
</style>
 
</head>
<body>
    <h1>GOONERSTRIKE FOOTBALL!</h1><hr>
 {% block body %}{% endblock %}
 
</body>
</html>
